.container {
  max-width: 600px;
  margin-top: 5rem;
}

.card {
  border-radius: 15px;
  &.border-success { border-width: 2px; }
  &.border-danger { border-width: 2px; }
}

.display-4 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}