<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      
      <!-- LINKS LEGALES -->
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <a routerLink="/politicas-privacidad" class="me-3">Políticas de privacidad</a>
        <a routerLink="/terminos" class="me-3">Términos y condiciones</a>
      </div>

      <!-- COPYRIGHT -->
      <div class="col-md-6 text-center text-md-end">
        &copy; 2026 Cementery Hub
      </div>

    </div>
  </div>
</footer>
